<!DOCTYPE html>
<html>
   <title>404</title>
<head>
 <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="main-content">
    <p>{{>header}}</p>
<p>{{errorMessage}}</p>
<p>{{msg}}</p>
</div>

<a href="/">back to home</a>

{{>footer}}


</body>

</html>